{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('justTest') }}
 {% endblock %}
{#<link rel="stylesheet" href="{{ asset('build/justTest.css') }}">#}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        {#        This friendly message is coming from: #}
        {#        <ul> #}
        {#            <li>Your controller at <code>C:/Users/zeona/programmierung/worker_data/src/Controller/DashboardController.php</code> #}
        {#            </li> #}
        {#            <li>Your template at #}
        {#                <code>C:/Users/zeona/programmierung/worker_data/templates/dashboard/index.html.twig</code></li> #}
        {#        </ul> #}
    </div>
    <h1 class="test-danger">Test: background color red</h1>
    {#    <button type="button" id="my-btn">Hide me</button> #}
{% endblock %}
